$pc: #100d12;
$sc1: orange;
$sc2: skyblue;
$font: 'Signika Negative',
sans-serif;
;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $font;
    font-weight: bold;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}