@import './config';
.box {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    height: fit-content;
    width: 70vw;
    overflow: hidden;
    background: white;
    padding-bottom: 2vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    h2 {
        align-self: start;
        padding: 2vh;
    }
    position: sticky;
    top: 3vh;
}

.slider-wrraper {
    width: 65vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.selected {
    background: $sc1 !important;
}

.slider {
    display: flex;
    height: 100%;
    width: 65vw*5;
    transition: all 0.2s ease 0s;
    textarea,
    iframe {
        width: 100%;
        border: none;
    }
    textarea {
        resize: none;
        background: $pc;
        color: white;
        padding: 2vh;
        font-size: 15px;
        font-weight: normal;
    }
}

.btn {
    position: absolute;
    right: 1.5vw;
    top: 1.5vh;
    background: white;
    padding: 1vh;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
}

.code_slides {
    position: relative;
    width: 65vw !important;
    height: 70vh;
    textarea {
        height: 100%;
    }
}

.mobile-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    iframe {
        width: 50%;
        background: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}

.controls {
    display: flex;
    align-items: center;
    gap: 3px;
    li {
        cursor: pointer;
        width: 25%;
        background: $pc;
        color: white;
        padding: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        &:hover {
            background: #28232b;
        }
    }
}

.about_template {
    align-self: start;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 13px !important;
}