{% extends 'HOME/base.html' %}
{% block content %}

    <div class="content__aboutus">
        <h1>About Us</h1>
        <div class="aboutus_description">
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi officiis perspiciatis pariatur magni qui iure saepe obcaecati quam repellendus numquam odio sequi id asperiores, omnis, aliquid aspernatur ullam accusamus dignissimos!
        Nihil fugit ullam natus, dolores temporibus debitis consequatur, accusamus omnis odit quo dicta impedit. Sed iste recusandae perspiciatis possimus nisi dicta quibusdam aperiam amet, magnam consectetur sapiente, porro sint nam?
        Mollitia eum aspernatur atque cum officia sunt laudantium molestias, enim placeat! Officia maiores animi facilis expedita nostrum eos obcaecati repellendus, aspernatur vero voluptas perspiciatis provident suscipit. Enim.
        </p>
        </div>
        <h2 style="padding-left:2vw;">What they say About Us</h2>
        <div class="testimonials">
        <div class="testimonial_content">
        <div class="testimonial_aside">
        <img src="https://previews.dropbox.com/p/thumb/ABmo-Qibj19SqoK2wKslQIvmWdRTeHao-H9ZFgQqnB5mzWfXwU3RzlraGkvlw9CcGRUKWBpNDc_XS3nNrThFpH7p50U9sMXeO3kzS0lffB5bceYLEa45qmQo_WrTvOMeBh6Lajy3zUkLN6m0Sfm2DacthZ8WgVDcd6jU282WHH7_n5GYGzrtKxuyHIAhBKN3RqmCKknA_D6TAg4KIXQ96KUYKak1y4BwFRu16ACFHzg-w9r9kOZjj--wZ77GVhxsdTQf6tGS8NqGTlnvgH_IVa4bITjvVoTwfRHuUsnqOjxmEMGc3DW4dlYyZjuhU4h_nSIjooWLJgie1t1BD8FF4I9P76rXe8CIxx4rjbRZmOmaJDiUOd7Sh3-jfGR1-RUdiRZBaSqY2I8xFoTe0lL-eKf0/p.jpeg?raw=1" alt="client1">
        <p class="client">Murray Q</p>
        <p class="source"><i class="fa-brands fa-youtube"></i>Youtube</p>
        </div>
        <div class="testimonial_data">
        <p class="comnt"><i class="fa-solid fa-comments"></i>"Without templates, we would have gone bankrupt by now. I'd be lost without templates. I'm good to go. I wish I would have thought of it first."</p>
        </div>
        </div>
        <div class="testimonial_content">
        <div class="testimonial_aside">
        <img src="https://previews.dropbox.com/p/thumb/ABk-2cRlpZIsFbvpzPvV5egwWn9aGBdbcMIjZCi_xw4XpdL3cmvyQoZoLyXNhUdishXAAsC9EwXkwAZIlrnpriT0pJ16kFHDc_PsweAHQGkmCVjtc2V9TGSpfHX9jjgbAllR0n-yTV_oG_a9NHyZLDf9D4ZIRCNYCQF8J0pLrWgNZbbSIdy-kqmvSMwANdtmRL_xuXkMtlpU0ji6U8HYH2wdeEvXvdjrlPq0IIGCttc-yfdpWs7c3HyJaaBG9d7XFI0hG-2WHbxYPcH3w4UPqhedbfugjftwuNHHLmE5_ku3cdwWJ-dR704TpHbOFSjlJV2ngmp7Kliy5uiaYDBWmtaC1XgzXGzQnPI3uOzazbQVN0fYsIjhP6PwJSTqbswxtas/p.jpeg?raw=1" alt="client2">
        <p class="client">Shamus W</p>
        <p class="source"><i class="fa-brands fa-facebook"></i>Facebook</p>
        </div>
        <div class="testimonial_data">
        <p class="comnt"><i class="fa-solid fa-comments"></i>"Templates was worth a fortune to my company."</p>
        </div>
        </div>
        <div class="testimonial_content">
            <div class="testimonial_aside">
            <img src="https://previews.dropbox.com/p/thumb/ABl30flWt7kP4RbjPsT6tGBZwfDQergBBRCqjeYyeI5eKOhs0wtQmycE_yAAd550yMmsLP7qUcMW1yXas-Tyvo6VKqBOkKNFS0d3YYBoUDTMc-n6-FoqPbGRdAsWo6rtgq1Kwp8kUgMrO7CQ7aRMAjqTQOl2fhrRkWyLPiMtpcDAl8cEvA71ZfAqaAScmaPZ9G8iYxthKxwr-JqAJsLGTLyr3QtrcHPxS7FJCDVt9IMHboCMkeTLMaVXhGF_v2fdXybMFsjxlDbrgkFnzCTlm6OagmWyvJ8cbIRR5n-HJhqOYLrO3gzxhJUIP5IpH7f-8huqdN8CuKVBalqVeTkwV_PbYCPRknTQJtDsaNJXT0AuavMsyLJsHCqKB_o2NB5ZlvE/p.jpeg?raw=1" alt="client3">
            <p class="client">Ozzy G</p>
            <p class="source"><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="testimonial_data">
            <p class="comnt"><i class="fa-solid fa-comments"></i>"Templates is the most valuable business resource we have EVER purchased. I STRONGLY recommend templates to EVERYONE interested in running a successful online business! Templates is the next killer app. I have gotten at least 50 times the value from templates."</p>
            </div>
        </div>
        <div class="testimonial_content">
        <div class="testimonial_aside">
        <img src="https://previews.dropbox.com/p/thumb/ABmacwAH0BqwdaRzt-KTy-ixKyj0mLAnIhFag7kYhfuh-EDys8Pr7sVuCJOqIuykEKqsz3Vj4FPjDUQkMfczBlMim2ksqeVUqsywwx6U6b2IgY6DuaM_5P5zOS-1s6czOYWddYcK53CEpixy-E1PITX9bMUmROosVd8gkVrdCpgbBB3sUp87DDLS2VVuHy8fhQeBOZScKxvrvQNWdSvkDDPh19-3IijVRaqVVZ9fjLxndNJzcDzdgtnAppxNPjgZi8BI0r2GvbQQtPIEEfjbVUNkeIZCIcleMxD8gSK0HPQJB8woKUeSoCglmru7yhcDvYnKl8_FXaM866mZjeVONc7cNq6od2di8yZiJblsntUaT3zRbBnHKBjK0PccTfaTPqw/p.jpeg?raw=1" alt="client4">
        <p class="client">Marchelle S</p>
        <p class="source"><i class="fa-brands fa-instagram"></i>Instagram</p>
        </div>
        <div class="testimonial_data">
        <p class="comnt"><i class="fa-solid fa-comments"></i>"Templates is worth much more than I paid. We've seen amazing results already."</p>
        </div>
        </div>
        </div> 
        

        <div class="social_media_links">
            <h2>Our social media links</h2>
            <div class="links">
            <p><i class="fa-brands fa-github"></i>github - <a href="#">www.github.com/TEMPLE</a></p>
            <p><i class="fa-brands fa-instagram"></i>instagram - <a href="#">www.instagram.com/TEMPLE</a></p>
            <p><i class="fa-brands fa-facebook"></i>facebook - <a href="#">www.facebook.com/TEMPLE</a></p>
            <p><i class="fa-brands fa-youtube"></i>youtube - <a href="#">www.youtube.com/TEMPLE</a></p>
            <p><i class="fa-brands fa-twitter"></i>twitter - <a href="#">www.twitter.com/TEMPLE</a></p>
            </div>
        </div>


        <div class="gmail">
            <p>If you have any other questions please <a href="{% url 'contactus'%}" target="_blank">contact us</a>:</p>
            <p><i class="fa-solid fa-at"></i>email - <span>W7aicha.123@gmail.com</span></p>
        </div>
    </div>


<style>
    .web_slider{
    display:none  !important;
    }
</style>

{% endblock content %}